html[data-theme='light'] .wrapper {
  --clr-bg-item-active: var(--clr-emerald-200);
}

html[data-theme='dark'] .wrapper {
  --clr-bg-item-active: var(--clr-emerald-700);
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
  max-height: 600px;

  overflow-y: auto;
}

.aside {
  display: block;

  height: fit-content;
  padding-top: var(--space-4);
}

.section {
  position: relative;

  margin-bottom: var(--space-4);
  padding-right: var(--space-2);
  padding-left: var(--space-2);
}

.heading {
  margin-bottom: var(--space-2);

  font-weight: var(--fw-medium);
  font-size: var(--fs-normal);
  letter-spacing: 1.4px;
}

.marker {
  position: absolute;
  left: 0;

  width: 3px;
  height: 32px;

  border-radius: var(--br-normal);

  background-color: var(--clr-primary);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;

  display: inline-block;

  width: 100%;
  padding: var(--space-1);

  font-size: var(--fs-small);

  transition: color 0.2s ease-in-out;

  @mixin line-clamp 1;

  .bg-indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;

    border-top-right-radius: var(--br-normal);
    border-bottom-right-radius: var(--br-normal);

    background-color: var(--clr-bg-item-active);
  }

  &[data-depth='1'] {
    padding-left: 8px;
  }

  &[data-depth='2'] {
    padding-left: 16px;
  }

  &[data-depth='3'] {
    padding-left: 24px;
  }

  &[data-depth='4'] {
    padding-left: 32px;
  }

  &[data-depth='5'] {
    padding-left: 40px;
  }

  &[data-depth='6'] {
    padding-left: 48px;
  }

  &[aria-current='true'] {
    font-weight: var(--fw-semibold);

    .bg-indicator {
      width: 100%;
    }
  }

  &[data-passed-link='true'] {
    color: var(--clr-base);
  }

  &:not([aria-current='true']):hover {
    color: var(--clr-primary);
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  align-items: center;

  padding: var(--space-3) var(--space-2);
}

.progress-bar-item {
  --line-width: var(--space-5);

  height: 2px;

  border-radius: var(--br-small);

  background-color: var(--clr-base);

  transition:
    height 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &[data-active='true'] {
    height: 4px;

    background-color: var(--clr-primary);
  }

  &[data-depth='1'] {
    width: var(--line-width);
  }

  &[data-depth='2'] {
    width: calc(var(--line-width) - var(--space-1));
  }

  &[data-depth='3'] {
    width: calc(var(--line-width) - var(--space-2));
  }

  &[data-depth='4'] {
    width: calc(var(--line-width) - var(--space-3));
  }

  &[data-depth='5'] {
    width: calc(var(--line-width) - var(--space-4));
  }

  &[data-depth='6'] {
    width: calc(var(--line-width) - var(--space-4));
  }
}
