.wrapper {
  --spacing-edge: 96px;

  /* Override default dialog styles */
  max-height: 100vh !important;
}

.content {
  justify-content: center;

  height: 100%;

  /* Override default dialog-content styles */
  max-width: 100%;
  max-height: 100% !important;

  border: none;

  background-color: transparent;

  box-shadow: none;
}

.image {
  position: relative;

  max-height: calc(100vh - (var(--spacing-edge) * 3));

  @mixin flex-center;

  img {
    width: auto;
    height: 100%;
    max-width: calc(100vw - (var(--spacing-edge) * 2));

    cursor: zoom-out;

    object-fit: cover;
  }
}

.download-btn,
.close-btn {
  position: absolute;
  top: 24px;
  z-index: var(--z-index-9);

  color: var(--clr-gray-200);

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--clr-snow);
  }
}

.download-btn {
  left: 24px;
}

.close-btn {
  right: 24px;
}

.previous-btn,
.next-btn {
  position: absolute;
  top: 0;
  z-index: var(--z-index-8);

  width: var(--spacing-edge);
  height: 100%;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;

  @mixin flex-center;

  &:hover {
    background-color: rgb(0 0 0 / 20%);

    html[data-theme='dark'] & {
      background-color: rgb(255 255 255 / 10%);
    }
  }
}

.previous-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.next-icon,
.previous-icon {
  width: 52px;
  height: 52px;
  padding: 4px;

  color: var(--clr-gray-200);

  border-radius: var(--br-circle);

  background-color: alpha(var(--clr-gray-900), 70%);

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    color: var(--clr-snow);

    background-color: alpha(var(--clr-gray-900), 90%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.previous-icon {
  padding-right: 6px;
}

.next-icon {
  padding-left: 6px;
}

.footer {
  justify-content: center;

  padding-top: 24px;
}

.preview-list {
  display: flex;
  gap: 8px;
  justify-content: center;

  overflow-x: auto;

  li {
    display: flex;
  }
}

.preview-item {
  border: 1px solid transparent;
  border-radius: var(--br-normal);

  cursor: pointer;

  opacity: 0.5;

  transition:
    border-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &[data-active='true'] {
    border-color: var(--clr-snow);

    opacity: 1;
  }
}
