html[data-theme='light'] .root {
  --clr-icon: #f59e0b;
}

html[data-theme='dark'] .root {
  --clr-icon: #fde047;
}

.root {
  display: flex;
  gap: 8px;
  align-items: center;

  height: 40px;
  padding: 8px;

  border: 2px solid var(--clr-primary);
  border-radius: var(--br-medium);

  box-shadow: 2px 2px 4px 1px alpha(var(--clr-primary), 10%);

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: alpha(var(--clr-primary), 10%);

    .icon {
      animation: zoom 0.6s ease-in-out forwards;
    }

    .star,
    .count {
      color: var(--clr-text-1);
    }
  }
}

.icon {
  width: 20px;
  height: 20px;

  color: var(--clr-icon);

  @mixin flex-center;
}

.star,
.count {
  color: var(--clr-text-2);
  font-weight: var(--fw-bold);

  transition: color 0.3s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1.2);
  }
}
