.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--clr-gray-500);
  max-width: 100%;
  padding: 8px 24px;
}

.logo {
  font-style: italic;
}

.list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
}

.item {
  &:not(:first-child) {
    margin-left: 8px;
  }
}

.subscribe-btn {
  width: 132px;
}
