html[data-theme='light'] {
  .root[data-color='primary'] {
    --clr-subtle: var(--clr-primary);
    --clr-subtle-bg: var(--clr-emerald-200);
  }

  .root[data-color='base'] {
    --clr-subtle: var(--clr-base);
    --clr-subtle-bg: var(--clr-gray-200);
  }
}

html[data-theme='dark'] {
  .root[data-color='primary'] {
    --clr-subtle: var(--clr-emerald-200);
    --clr-subtle-bg: alpha(var(--clr-primary), 15%);
  }

  .root[data-color='base'] {
    --clr-subtle: var(--clr-gray-200);
    --clr-subtle-bg: alpha(var(--clr-base), 15%);
  }
}

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition:
    background-color 0.2s ease-in-out,
    scale 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;

  &[data-variant='solid'] {
    &[data-color='primary'] {
      background-color: var(--clr-primary);
    }

    &[data-color='base'] {
      color: var(--clr-text-2);

      background-color: var(--clr-base);
    }

    &[data-clickable='true'] {
      &:active {
        box-shadow: 1px 2px 2px 0 alpha(var(--clr-base), 40%);
      }

      &[data-color='primary'] {
        &:hover {
          background-color: alpha(var(--clr-primary), 80%);
        }
      }

      &[data-color='base'] {
        &:hover {
          background-color: alpha(var(--clr-base), 80%);
        }
      }
    }
  }

  &[data-variant='outlined'] {
    &[data-color='primary'] {
      box-shadow: inset -1px -1px 0 2px var(--clr-primary);
    }

    &[data-color='base'] {
      box-shadow: inset -1px -1px 0 2px var(--clr-base);
    }

    &[data-clickable='true'] {
      &:active {
        scale: 1.05;
      }

      &[data-color='primary'] {
        &:hover {
          background-color: alpha(var(--clr-primary), 5%);

          box-shadow: inset -1px -1px 0 2px alpha(var(--clr-primary), 80%);
        }
      }

      &[data-color='base'] {
        &:hover {
          background-color: alpha(var(--clr-base), 5%);

          box-shadow: inset -1px -1px 0 2px alpha(var(--clr-base), 80%);
        }
      }
    }
  }

  &[data-variant='subtle'] {
    background-color: var(--clr-subtle-bg);

    &[data-clickable='true'] {
      &:hover {
        background-color: alpha(var(--clr-subtle-bg), 60%);
      }

      &:active {
        box-shadow: 1px 2px 2px 0 alpha(var(--clr-base), 20%);
      }
    }
  }

  &[data-variant='text'] {
    background-color: transparent;

    &[data-clickable='true'] {
      &:hover {
        background-color: alpha(var(--clr-primary), 10%);
      }

      &:active {
        box-shadow: 1px 2px 2px 0 alpha(var(--clr-base), 20%);
      }
    }
  }

  &[data-size='small'] {
    min-height: 20px;
    padding-inline: 4px;
    padding-bottom: 2px;

    border-radius: var(--br-small);
  }

  &[data-size='medium'] {
    min-height: 24px;
    padding-inline: 8px;
    padding-bottom: 4px;

    border-radius: var(--br-medium);
  }

  &[data-size='large'] {
    min-height: 32px;
    padding-inline: 12px;
    padding-bottom: 6px;

    border-radius: var(--br-large);
  }

  &[data-clickable='true'] {
    cursor: pointer;

    user-select: none;
  }
}

.label {
  display: flex;
  align-items: center;

  font-weight: var(--fw-medium);

  &[data-variant='solid'] {
    &[data-color='primary'] {
      color: var(--clr-text-2);
    }
  }

  &[data-variant='outlined'] {
    &[data-color='primary'] {
      color: var(--clr-primary);
    }
  }

  &[data-variant='subtle'] {
    color: var(--clr-subtle);
  }

  &[data-variant='text'] {
    &[data-color='primary'] {
      color: var(--clr-primary);
    }
  }

  &[data-size='small'] {
    font-size: var(--fs-tiny);

    & + .icon {
      margin-left: 4px;
    }
  }

  &[data-size='medium'] {
    font-size: var(--fs-normal);
    line-height: 28px;

    & + .icon {
      margin-left: 6px;
    }
  }

  &[data-size='large'] {
    font-size: var(--fs-medium);

    & + .icon {
      margin-left: 8px;
    }
  }
}

.icon {
  @mixin flex-center;

  &[data-variant='solid'] {
    &[data-color='primary'] {
      color: var(--clr-text-2);
    }
  }

  &[data-variant='outlined'] {
    &[data-color='primary'] {
      color: var(--clr-primary);
    }
  }

  &[data-variant='subtle'] {
    color: var(--clr-subtle);
  }

  &[data-size='small'] {
    width: 12px;
    height: 12px;

    & + .label {
      margin-left: 4px;
    }
  }

  &[data-size='medium'] {
    width: 14px;
    height: 14px;

    & + .label {
      margin-left: 6px;
    }
  }

  &[data-size='large'] {
    width: 18px;
    height: 18px;

    & + .label {
      margin-left: 8px;
    }
  }
}

.close-trigger {
  cursor: pointer;

  opacity: 0.6;

  transition:
    opacity 0.2s ease-in-out,
    scale 0.2s ease-in-out;

  @mixin flex-center;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: 2px solid var(--clr-primary);
  }

  &:active {
    scale: 1.1;
  }

  &[data-variant='solid'] {
    &[data-color='primary'] {
      color: var(--clr-text-2);
    }
  }

  &[data-variant='outlined'] {
    &[data-color='primary'] {
      color: var(--clr-primary);
    }
  }

  &[data-variant='subtle'] {
    color: var(--clr-subtle);
  }

  &[data-size='small'] {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }

  &[data-size='medium'] {
    width: 14px;
    height: 14px;
    margin-left: 6px;
  }

  &[data-size='large'] {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
}
