.wrapper {
  flex-direction: column;
  gap: 4px;

  padding: 32px 16px;

  border-top: 1px solid var(--clr-base);

  @mixin flex-center;
}

.github-info,
.email-info {
  display: flex;
  gap: 4px;
  align-items: center;

  p {
    color: var(--clr-base);
  }
}

.social-links {
  display: flex;
  gap: 16px;

  margin-top: 8px;
  margin-bottom: 12px;
}

.copyright {
  color: var(--clr-base);
  font-weight: var(--fw-medium);
  font-size: var(--fs-small);
}
