html[data-theme='light'] .wrapper {
  --clr-border-wrapper: var(--clr-gray-300);
  --clr-bg-summary-hover: alpha(var(--clr-gray-200), 60%);
}

html[data-theme='dark'] .wrapper {
  --clr-border-wrapper: alpha(var(--clr-gray-300), 20%);
  --clr-bg-summary-hover: alpha(var(--clr-gray-700), 60%);
}

.wrapper {
  padding: var(--space-2);

  border: 1px solid var(--clr-border-wrapper);
  border-radius: var(--br-large);

  background-color: var(--clr-bg-2);

  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.summary {
  display: flex;
  align-items: center;

  padding: var(--space-1);

  border-radius: var(--br-medium);

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-bg-summary-hover);
  }
}

.icon {
  display: flex;

  width: 24px;
  height: 24px;

  transition: transform 0.3s ease-in-out;

  .wrapper[data-expanded='true'] & {
    transform: rotate(90deg);
  }
}

.title {
  margin-left: var(--space-1);

  font-weight: var(--fw-bold);
}

.description {
  padding-inline: 32px 16px;
}
