.wrapper {
  position: relative;

  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &:hover .maximize-btn {
    opacity: 1;
  }
}

.image {
  position: relative;

  display: flex;

  cursor: zoom-in;

  img {
    display: block;

    margin: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin-top: 8px;

  font-size: var(--fs-small);
  color: var(--clr-text-2);
}

.maximize-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  border-radius: var(--br-medium);
  padding: 6px;

  cursor: pointer;

  opacity: 0;
  background-color: alpha(var(--clr-gray-900), 70%);

  transition:
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover {
    background-color: alpha(var(--clr-gray-900), 90%);

    .maximize-icon {
      color: var(--clr-snow);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.maximize-icon {
  display: flex;

  width: 28px;
  height: 28px;

  color: var(--clr-gray-200);

  transition: color 0.2s ease-in-out;
}
