.wrapper {
  position: relative;

  display: flex;

  margin-block: 16px;
  width: 100%;
  max-width: 800px;

  &:hover .maximize-btn {
    opacity: 1;
  }
}

.image {
  display: block;

  border-radius: var(--br-large);
  max-width: 100%;
  width: 100%;
  object-fit: cover;

  cursor: zoom-in;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.caption {
  margin-top: 8px;

  font-size: var(--fs-small);
  color: var(--clr-text-2);
}

.maximize-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  border-radius: var(--br-medium);
  padding: 6px;

  cursor: pointer;

  opacity: 0;
  background-color: rgb(23 25 35 / 70%);

  transition:
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover {
    background-color: rgb(23 25 35 / 90%);

    .maximize-icon {
      color: var(--clr-snow);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.maximize-icon {
  display: flex;

  width: 28px;
  height: 28px;

  color: var(--clr-gray-200);

  transition: color 0.2s ease-in-out;
}
