html[data-theme='dark'] {
  --clr-snow: #fffafa;
  --clr-ghost-white: #f8f8ff;
  --clr-alice-blue: #f0f8ff;
  --clr-off-white: #fbfbfb;
  --clr-ivory: #fffff0;
  --clr-obsidian: #0b1215;
  --clr-lava-black: #352f36;
  --clr-oil-black: #0c0c0c;
  --clr-midnight-blue: #101720;
  --clr-oil-slick: #031602;
  --clr-gray-50: #f7fafc;
  --clr-gray-100: #edf2f7;
  --clr-gray-200: #e2e8f0;
  --clr-gray-300: #cbd5e0;
  --clr-gray-400: #a0aec0;
  --clr-gray-500: #718096;
  --clr-gray-600: #4a5568;
  --clr-gray-700: #2d3748;
  --clr-gray-800: #1a202c;
  --clr-gray-900: #171923;
  --clr-emerald-50: #ecfdf5;
  --clr-emerald-100: #d1fae5;
  --clr-emerald-200: #a7f3d0;
  --clr-emerald-300: #85efac;
  --clr-emerald-400: #36d399;
  --clr-emerald-500: #10b77f;
  --clr-emerald-600: #059669;
  --clr-emerald-700: #047857;
  --clr-emerald-800: #065f46;
  --clr-emerald-900: #064e3b;
  --clr-emerald-950: #022c22;
  --clr-base: var(--clr-gray-200);
  --clr-primary: var(--clr-emerald-300);
  --clr-info: #35a4fb;
  --clr-text-0: var(--clr-snow);
  --clr-text-1: var(--clr-snow);
  --clr-text-2: var(--clr-obsidian);
  --clr-text-3: #2d3748;
  --clr-bg-1: #282a36;
  --clr-bg-2: #1a202c;
  --clr-bg-3: #0e0d11;
  --clr-bg-kbd: alpha(var(--clr-gray-100), 10%);
  --clr-caption: var(--clr-gray-400);
}
