html[data-theme='light'] .root {
  --clr-bg-search: alpha(var(--clr-ghost-white), 20%);
  --clr-bg-search-hover: alpha(var(--clr-ghost-white), 60%);
}

html[data-theme='dark'] .root {
  --clr-bg-search: alpha(var(--clr-gray-700), 70%);
  --clr-bg-search-hover: alpha(var(--clr-gray-700), 90%);
}

.root {
  display: flex;
  align-items: center;

  width: 280px;
  height: 40px;
  padding-inline: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 2px solid transparent;
  border-radius: var(--br-medium);

  background-color: var(--clr-bg-search);

  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);

  cursor: pointer;

  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    box-shadow:
      0 2px 5px 0 rgb(0 0 0 / 10%),
      0 2px 4px 0 rgb(0 0 0 / 6%);

    :is(.icon, .text, kbd) {
      color: var(--clr-primary);
    }

    &:not(:focus) {
      border-color: var(--clr-primary);
    }
  }

  &:focus {
    outline: 2px solid alpha(var(--clr-primary), 60%);
    outline-offset: 2px;
  }

  &[data-active='true'] {
    border-color: var(--clr-primary);
  }
}

.icon {
  width: 24px;
  height: 24px;

  color: var(--clr-text-2);

  transition: color 0.2s ease-in-out;

  @mixin flex-center;
}

.text-and-kbd {
  width: 100%;
  margin-left: 8px;

  kbd {
    transition: color 0.2s ease-in-out;
  }
}

.text {
  flex: 1;

  color: var(--clr-text-2);
  font-weight: var(--fw-medium);
  text-align: left;

  transition: color 0.2s ease-in-out;
}
