html[data-theme='light'] {
  .root[data-color='base'] {
    --clr-bg-btn-contained-hover: var(--clr-gray-100);
    --clr-bg-btn-contained-active: var(--clr-gray-200);
    --clr-bg-btn-outlined-hover: var(--clr-gray-100);
    --clr-bg-btn-outlined-active: var(--clr-gray-200);
  }

  .root[data-color='primary'] {
    --clr-bg-btn-contained-hover: var(--clr-emerald-50);
    --clr-bg-btn-contained-active: var(--clr-emerald-100);
    --clr-bg-btn-outlined-hover: var(--clr-emerald-100);
    --clr-bg-btn-outlined-active: var(--clr-emerald-200);
  }

  .root[data-color='warning'] {
    --clr-bg-btn-contained-hover: var(--clr-yellow-100);
    --clr-bg-btn-contained-active: var(--clr-yellow-200);
    --clr-bg-btn-outlined-hover: var(--clr-yellow-100);
    --clr-bg-btn-outlined-active: var(--clr-yellow-200);
    --clr-bg-btn: var(--clr-yellow-500);
  }
}

html[data-theme='dark'] {
  .root[data-color='base'] {
    --clr-bg-btn-contained-hover: alpha(var(--clr-base), 5%);
    --clr-bg-btn-contained-active: alpha(var(--clr-base), 10%);
    --clr-bg-btn-outlined-hover: alpha(var(--clr-base), 10%);
    --clr-bg-btn-outlined-active: alpha(var(--clr-base), 20%);
  }

  .root[data-color='primary'] {
    --clr-bg-btn-contained-hover: alpha(var(--clr-primary), 5%);
    --clr-bg-btn-contained-active: alpha(var(--clr-primary), 10%);
    --clr-bg-btn-outlined-hover: alpha(var(--clr-primary), 10%);
    --clr-bg-btn-outlined-active: alpha(var(--clr-primary), 20%);
  }

  .root[data-color='warning'] {
    --clr-bg-btn-contained-hover: alpha(var(--clr-warning), 5%);
    --clr-bg-btn-contained-active: alpha(var(--clr-warning), 10%);
    --clr-bg-btn-outlined-hover: alpha(var(--clr-warning), 10%);
    --clr-bg-btn-outlined-active: alpha(var(--clr-warning), 20%);
    --clr-bg-btn: var(--clr-yellow-300);
  }
}

.root {
  position: relative;

  width: 100%;

  cursor: pointer;

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  @mixin flex-center;

  &[data-variant='contained'] {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      content: '';

      width: 100%;

      border-radius: 8px;

      opacity: 0;
      transform: scale(0.8);

      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      [data-color='base']& {
        background-color: alpha(var(--clr-base), 10%);
      }

      [data-color='primary']& {
        background-color: alpha(var(--clr-primary), 10%);
      }

      [data-color='warning']& {
        background-color: alpha(var(--clr-yellow-500), 10%);

        html[data-theme='dark']& {
          background-color: alpha(var(--clr-yellow-300), 10%);
        }
      }

      [data-rounded='true']& {
        border-radius: 50%;
      }
    }

    &:hover:not(:disabled)::before {
      opacity: 1;
      transform: scale(1);
    }

    &:active:not(:disabled) {
      background-color: var(--clr-bg-btn-contained-active);

      transform: scale(0.9);
    }

    &:disabled {
      @mixin disabled;
    }
  }

  &[data-variant='outlined'] {
    border: 1.6px solid;

    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: var(--clr-bg-btn-outlined-hover);
    }

    &:active:not(:disabled) {
      background-color: var(--clr-bg-btn-outlined-active);

      transform: scale(0.9);
    }

    &:disabled {
      @mixin disabled;
    }
  }

  &[data-size='small'] {
    width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: var(--br-normal);
  }

  &[data-size='medium'] {
    width: 36px;
    height: 36px;
    padding: 8px;

    border-radius: var(--br-medium);
  }

  &[data-size='large'] {
    width: 40px;
    height: 40px;
    padding: 6px;

    border-radius: var(--br-large);
  }

  &[data-color='base'] {
    color: var(--clr-base);
  }

  &[data-color='primary'] {
    color: var(--clr-primary);
  }

  &[data-color='warning'] {
    color: var(--clr-bg-btn);
  }

  &[data-rounded='true'] {
    border-radius: var(--br-circle);
  }

  &[data-active='true'] {
    color: var(--clr-primary);
  }

  &.is-disabled {
    box-shadow: none !important;

    opacity: 0.6;

    pointer-events: none;
  }
}
