.root {
  position: relative;
}

.trigger {
  display: flex;

  &:focus {
    outline-offset: 2px;
  }

  &[data-color='base'] {
    &:focus {
      outline: 2px solid alpha(var(--clr-base), 60%);
    }
  }

  &[data-color='primary'] {
    &:focus {
      outline: 2px solid alpha(var(--clr-primary), 60%);
    }
  }
}

.list-wrapper {
  transform-origin: top right;
}

.list {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 8px;

  border: 1px solid transparent;
  border-radius: var(--br-large);

  background-color: var(--bg-1);

  backdrop-filter: blur(20px);

  overflow: hidden;

  &[data-color='base'] {
    box-shadow:
      var(--clr-base) 0 0 2px 0,
      var(--clr-base) -2px 2px 2px -2px;
  }

  &[data-color='primary'] {
    box-shadow:
      var(--clr-primary) 0 0 2px 0,
      var(--clr-primary) -2px 2px 2px -2px;
  }

  &[data-placement='bottom-end'] {
    top: 100%;
    right: 0;
  }

  &[data-placement='bottom-start'] {
    top: 100%;
    left: 0;
  }

  /* TODO: Add more placement styles */
}

.item {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 8px 12px;

  border-radius: var(--br-medium);

  background-color: transparent;

  cursor: pointer;

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &[data-focused='true'] {
    &[data-color='base'] {
      background-color: alpha(var(--clr-base), 10%);

      .label,
      .icon {
        color: var(--clr-base);

        @mixin text-shadow 1, var(--clr-base);
      }
    }

    &[data-color='primary'] {
      background-color: alpha(var(--clr-primary), 10%);

      .label,
      .icon {
        color: var(--clr-primary);

        @mixin text-shadow 1, var(--clr-primary);
      }
    }
  }
}

.icon {
  width: 24px;
  height: 24px;

  color: var(--text-color-2);

  transition:
    color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}

.label {
  margin-left: 16px;

  color: var(--clr-text-1);
  letter-spacing: 0.4px;

  transition:
    color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}
