.wrapper {
  --spacing: 16px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  margin-block: var(--spacing);

  &:hover .copy-code-btn {
    opacity: 1;
  }
}

.file-name {
  border-top-left-radius: var(--br-large);
  border-top-right-radius: var(--br-large);
  padding: 8px;

  background-color: var(--clr-gray-200);
}

.pre {
  border-radius: var(--br-large);
  padding-block: var(--spacing);
}

.token-line {
  padding-inline: var(--spacing);
}

.line-index {
  font-size: var(--fs-small);

  & + span {
    margin-left: 8px;
  }
}

.btn-and-lang {
  position: absolute;
  top: 16px;
  right: 8px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.copy-code-btn {
  opacity: 0;

  transition: opacity 0.4s ease-in-out;

  /* override font weight btn label */
  & > button > span:nth-child(2) {
    font-weight: var(--fw-medium);
  }
}
