.root {
  display: flex;
}

.list {
  display: flex;
  gap: 8px;

  & li + li {
    margin-left: 12px;
  }
}

.item {
  width: 48px;
  height: 48px;

  &[data-active='true'] {
    background-color: var(--clr-primary);

    & > span {
      color: var(--clr-text-2) !important;
    }
  }
}

.ellipsis {
  display: flex;
  align-items: flex-end;

  width: 40px;
  height: 40px;
  padding: 4px;

  user-select: none;

  &[data-color='base'] {
    color: var(--clr-base);
  }

  &[data-color='primary'] {
    color: var(--clr-primary);
  }
}
