.root {
  position: relative;
  overflow: hidden;

  height: 52px;

  &[data-orientation='vertical'] {
    display: flex;
    height: 300px;
  }

  &[data-variant='solid'] {
    border-radius: var(--br-large);
    background-color: alpha(var(--clr-gray-400), 10%);
  }
}

.list {
  display: flex;

  height: 100%;

  &[data-orientation='horizontal'] {
    &[data-variant='line'] {
      border-bottom: 1px solid var(--clr-base);
      border-bottom-width: 1px;
    }

    &[data-variant='solid'] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &[data-orientation='vertical'] {
    flex-direction: column;

    height: 100%;

    &[data-variant='line'] {
      border-right: 1px solid var(--clr-base);
      border-right-width: 1px;
    }

    &[data-variant='solid'] {
      padding: 8px;
    }
  }
}

.trigger {
  flex-grow: 1;

  position: relative;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: var(--fw-semibold);
  letter-spacing: 1px;

  cursor: pointer;
  background-color: transparent;
  color: var(--clr-base);

  transition: color 0.3s ease-in-out;

  &[data-orientation='horizontal'] {
    padding: 8px 12px;

    &[data-variant='line'] {
      &::before {
        bottom: 0;

        width: 100%;
        height: 0;
        border-top-left-radius: var(--br-medium);
        border-top-right-radius: var(--br-medium);

        transition: height 0.3s ease-in-out;
      }

      &[data-active='true']::before {
        height: 100%;
      }
    }
  }

  &[data-orientation='vertical'] {
    padding: 8px 20px;

    &[data-variant='line'] {
      &::before {
        right: 0;

        width: 0;
        height: 100%;
        border-top-left-radius: var(--br-medium);
        border-bottom-left-radius: var(--br-medium);

        transition: width 0.3s ease-in-out;
      }

      &[data-active='true']::before {
        width: 100%;
      }
    }
  }

  &[data-active='true'] {
    color: var(--clr-primary);
  }

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 0;

    background-color: alpha(var(--clr-primary), 10%);

    transition: height 0.3s ease-in-out;
  }

  &:hover:not(:disabled) {
    color: var(--clr-primary);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary);
  }

  &:disabled {
    @mixin disabled;
  }

  &:where(
      &[data-orientation='horizontal'],
      &[data-orientation='vertical']
    )&[data-active='true']::before {
    transition: all 0.3s ease-in-out 0.1s;
  }
}

.indicator {
  position: absolute;
  z-index: 3;

  border-radius: var(--br-normal);

  background-color: var(--clr-primary);

  &[data-orientation='horizontal'] {
    &[data-variant='line'] {
      margin-top: -3px;
      height: 3px;
    }

    &[data-variant='solid'] {
      top: 6px;

      height: calc(100% - 14px);
      border-radius: var(--br-medium);

      background-color: alpha(var(--clr-primary), 10%);
      box-shadow:
        1px 1px 1px 0 alpha(var(--clr-primary), 10%),
        1px 1px 1px 0 alpha(var(--clr-primary), 5%);
    }
  }

  &[data-orientation='vertical'] {
    &[data-variant='line'] {
      margin-left: -3px;
      width: 3px;
    }

    &[data-variant='solid'] {
      margin-left: 8px;
      margin-right: 8px;
      border-radius: var(--br-medium);

      background-color: alpha(var(--clr-primary), 10%);
      box-shadow:
        1px 1px 1px 0 alpha(var(--clr-primary), 10%),
        1px 1px 1px 0 alpha(var(--clr-primary), 5%);
    }
  }
}

.tab-panel-group {
  display: flex;
}

.tab-panel {
  overflow: auto;

  display: none;

  padding: 24px 32px 32px;

  &[data-active='true'] {
    display: block;
  }
}
