.heading {
  color: var(--clr-primary);
}

.search-form {
  display: flex;
  align-items: center;

  width: calc(100% - 48px);
  height: 28px;
}

.search-icon {
  width: 24px;
  height: 24px;

  color: var(--clr-primary);

  @mixin flex-center;
}

.input {
  width: 100%;
  padding-left: 16px;

  color: var(--clr-text-content);

  border: none;

  background-color: transparent;

  outline: none;

  appearance: none;
  caret-color: var(--clr-primary);

  &::placeholder {
    color: var(--clr-text-2);
  }
}

.footer {
  justify-content: flex-start;

  p {
    color: var(--clr-caption);
    font-size: var(--fs-small);
  }
}

.divider {
  display: flex;

  width: calc(100% - 48px);
  margin: auto;
}
