.heading {
  color: var(--clr-primary);
}

.search-form {
  display: flex;
  align-items: center;

  width: calc(100% - 48px);
  height: 28px;
}

.search-icon {
  @mixin flex-center;

  width: 24px;
  height: 24px;

  color: var(--clr-primary);
}

.input {
  outline: none;
  border: none;
  width: 100%;
  padding-left: 16px;

  appearance: none;
  background-color: transparent;

  caret-color: var(--clr-primary);
}

.footer {
  justify-content: flex-start;

  p {
    font-size: var(--fs-small);
    color: var(--clr-caption);
  }
}

.divider {
  display: flex;
  margin: auto;
  width: calc(100% - 48px);
}
