html[data-theme='light'] .root {
  --clr-text: var(--clr-gray-600);
  --clr-border: var(--clr-gray-300);
}

html[data-theme='dark'] .root {
  --clr-text: var(--clr-gray-400);
  --clr-border: alpha(var(--clr-snow), 20%);
}

.root {
  padding-inline: 0.4em 0.4em;

  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
  font-family: var(--font-code);
  line-height: normal;
  white-space: nowrap;

  border: 1px solid;
  border-bottom-width: 3px;
  border-radius: var(--br-small);

  background-color: var(--clr-bg-kbd);

  &[data-color='base'] {
    color: var(--clr-text);

    border-color: var(--clr-border);
  }

  &[data-color='primary'] {
    color: var(--clr-primary);

    border-color: var(--clr-primary);
  }
}
