.root {
  position: relative;

  display: flex;

  overflow: hidden;

  &[data-orientation='vertical'] {
    flex-direction: column;
  }

  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
}
