.root {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--clr-base);
  border-radius: var(--br-large);
  max-width: 408px;

  &:hover {
    border-color: var(--clr-primary);
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
}
